{{#if user}}
  <div class="user">
      <h3>Welcome {{ user.username }}!</h3>
      <div class="personal-info">
        <h4>PERSONAL INFO</h4>
        <li>Username: {{user.username}}</li>
        <li>Email : {{user.email}}</li>
        <br>
    </div>
    <div>
      <h4>HISTORY</h4>
        <li>Number of games played: {{numberOfGames}}</li>
        <li>Number of map played: {{mapPlayedNumber}}</li>
    </div>
  </div>
     <div>
      <button><a id="user-btn" href="/game">PLAY</a></button>
      <button><a id="hof-btn1" href="/game">HOF</a></button>
    </div>
{{/if}}